<!-- <app-spinner *ngIf="loadingApp()"></app-spinner> -->

<!-- Login UI combination of Bootstrap and Material  -->
<div class="login-wrapper">
  <div class="row login-wrapper-inner">
    <!-- Left side banner start -->
    <div class="banner col-md-6 col-sm-12">
      <div class="banner-wrapper">
        <img src="assets/images/cmLoginLogo.png" alt="Care Monitor Logo" />

        <h1 class="caremonitor-tagline">
          DIGITAL HEALTHCARE SOFTWARE
        </h1>
        <h3>Enabling person-centred at-home care through cloud-based solutions.</h3>
      </div>
    </div>
    <!-- Right side login start -->
    <div class="login col-md-6 col-sm-12">
      <div class="login-container">
        <div class="login-header-wrapper pb-3 text-center">
          <h2 class="sign-in-text">Sign in to continue</h2>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
          <mat-form-field appearance="outline" class="login-input-field">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Email" />
            <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
              Please enter a valid email.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="login-input-field">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" placeholder="Password" />
            <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
              Password is required.
            </mat-error>
          </mat-form-field>

          <ng-container *ngIf="errorMessage">
            <app-error-banner [message]="errorMessage"></app-error-banner>
          </ng-container>

          <button mat-flat-button color="primary" type="submit"
            [disabled]="(loading && !errorMessage) || loginForm.invalid" class="login-button">
            <mat-icon *ngIf="(loading && !errorMessage)">hourglass_empty</mat-icon>
            {{ (loading && !errorMessage) ? 'Logging in...' : 'Login' }}
          </button>

          <div class="terms-conditions mt-3">
            <span>By signing in, I accept all terms and the privacy policy.</span>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
