@use '../../../../assets/styles/variable' as *;
.sidenav {
  width: 185px;
  height: 100%;
  background: #f5f5f5;
  padding: 2rem 1rem;
  border-right: 1px solid #ddd;

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 1rem;

      a {
        text-decoration: none;
        color:#333;
        font-weight: 500;
        font-size: 20px;
        display: flex;
        gap: 10px;
        color: $bg-color-ligh;
        padding: 5px 0;
        border-bottom:2px solid transparent ;
        &.active {
          font-weight: 900;
          border-bottom:2px solid $bg-color-dark ;
          color: $bg-color-dark;
        }
        &:hover{
          color:$bg-color-dark;
        }
      }
      .mat-18{
        font-size: 30px;
      }
    }
  }
}
